{% extends "_global/index.html" %}

{% block main %}

<div>
     <div class="options">
        <a href="{{ BASE }}admin/offers">List all offers</a>
     </div>
     <div class="col-12 col-sm-10 offset-sm-1 col-md-6 offset-md-3 col-lg-6 offset-md-3 col-xl-6 offset-xl-3">
        <form class="offer-form" method="POST">
            <div class="card">
                <div class="card-header">
                    Add Offer
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label>Status: </label>
                        <select name="status" id="status" class="form-control" required>
                            <option value="" disabled selected>Izaberite trenutni status porudžbine</option>
                            <option value="Pending">Pending</option>
                            <option value="Canceled">Canceled</option>
                            <option value="Accepted">Accepted</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Izaberite željenog korisnika: </label>
                        <select name="user_id" id="userId" class="form-control" required>
                            <option value="" disabled selected>Izaberite korisnika</option>
                                {% for user in users %}
                                    <option value="{{ user.user_id }}">{{user.username}}</option>
                                {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Izaberite željenu valutu: </label>
                        <select name="currency_id" id="currencyId" class="form-control" required>
                            <option value="" disabled selected>Izaberite valutu</option>
                                {% for currency in currencies %}
                                    <option value="{{ currency.currency_id }}">{{ currency.title }}</option>
                                {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                    <label>Izaberite željenu dostavu: </label>
                    <select name="shipping_id" id="shippingId" class="form-control" required>
                        <option value="" disabled selected>Izaberite tip dostave</option>
                            {% for shipping in shippings %}
                                <option value="{{ shipping.shipping_id }}">{{ shipping.title }}</option>
                            {% endfor %}
                    </select>
                    </div>
            </div>

                <div class="card-footer">
                    <button type="submit" class="btn btn-primary btn-block">Add offer</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}