{% extends "_global/index.html" %}

{% block main %}

<div>
     <div class="options">
        <a href="{{ BASE }}admin/offers/add">Add new offer</a>
     </div>

     <div class="col-12 col-sm-10 offset-sm-1 col-md-6 offset-md-3 col-lg-6 offset-md-3 col-xl-6 offset-xl-3">
            <ul class="list-group">
            {% for offer in offers %}
            <li class="list-group-item">    
                <a href="{{ BASE }}admin/offers/edit/{{ offer.offer_id }}">
                    Broj porudžbine je: <b>{{ offer.offer_id }}</b> <br>
                    Username korisnika je: <b>{{ offer.user.username }}</b> <br>
                    Status porudžbine je: <b>{{ offer.status }}</b>
                </a>
            {% endfor %}
        </ul>
     </div>
</div>
{% endblock %}