{% extends "_global/index.html" %}

{% block main %}

<div>
    <div class="btn-group" role="group" aria-label="Edit and Add">
        <a href="{{ BASE }}admin/products" class="btn btn-outline-primary">List all products</a>
     </div>
    <div class="col-12 col-sm-10 offset-sm-1 col-md-6 offset-md-3 col-lg-6 offset-md-3 col-xl-6 offset-xl-3">
        <form class="product-form" method="POST" enctype="multipart/form-data">
            <div class="card">
                    <div class="card-header">
                        Add Product
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <label for="productNo">Product No.: </label>
                            <input type="text" id="productNo" name="product_no" class="form-control" pattern="^([0-9]{1,11})$" required>
                        </div>
                        <div class="form-group">
                            <label for="title">Title: </label>
                            <input type="text" id="title" name="title" class="form-control" pattern="^([A-Za-z0-9 \(\)-.,:\/\\]{1,255})$" required>
                        </div>
                        <div class="form-group">
                            <label for="description">Description: </label>
                            <textarea id="description" name="description" rows="10" class="form-control" pattern="^([A-Za-z0-9 \(\)-\/\\]+)$" required></textarea>
                        </div>
                        <div class="form-group">
                                <label>Izaberite željenu kategoriju: </label>
                                <select name="category" id="category" class="form-control">
                                    <option value="" disabled selected>Izaberite kategoriju</option>
                                        {% for category in categories %}
                                            <option value="{{ category.category_id }}">{{ category.title }}</option>
                                        {% endfor %}
                                </select>
                            </div>
                        <div class="form-group">
                            <label for="price">Price: </label>
                            <input type="text" id="price" name="price" class="form-control" pattern="^[0-9]{1,10}(\.[0-9]{0,2})?$" required>
                        </div>
                        <div class="form-group">
                            <label for="producer">Producer: </label>
                            <input type="text" id="producer" name="producer" class="form-control" pattern="([A-Za-z0-9 ()-\/\\]{1,255})$" required>
                        </div>
                        <div class="form-group">
                            <label for="size">Size: </label>
                            <input type="text" id="size" name="size" class="form-control" pattern="^[0-9]{1,65}(\.[0-9]{0,2})?$" required>
                        </div>
                        <div class="form-group">
                            <label for="weight">Weight: </label>
                            <input type="text" id="weight" name="weight" class="form-control" pattern="^[0-9]{1,65}(\.[0-9]{0,2})?$" required>
                        </div>
                        <div class="form-group">
                                <label for="image">Image: </label>
                                <input type="file" id="image" name="image" class="form-control" accept="image/jpeg, image/png">
                        </div>
                        <div class="form-group">
                    <label>Da li je proizvod aktivan? </label>
                    <select name="is_active" id="is_active" class="form-control" required>
                        <option value="" disabled selected>Izaberite da li je proizvod aktivan ili ne</option>
                        <option value="1">Aktivan</option>
                        <option value="0">Nije aktivan</option>
                    </select>
                </div>  
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-primary btn-block">Add product</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}