{% extends "_global/index.html" %}

{% block main %}

<div>
    <div class="btn-group" role="group" aria-label="Edit and Add">
        <a href="{{ BASE }}admin/products" class="btn btn-outline-primary">List all products</a>
        <a href="{{ BASE }}admin/products/add" class="btn btn-outline-primary">Add new product</a>
     </div>
     
     <div class="col-12 col-sm-10 offset-sm-1 col-md-6 offset-md-3 col-lg-6 offset-md-3 col-xl-6 offset-xl-3">
        <form class="product-form" method="POST" enctype="multipart/form-data" onsubmit="return validateForm();">
            <div class="card">
                    <div class="card-header">
                        Edit Product
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <label for="productNo">Product No.: </label>
                            <input type="text" id="productNo" name="product_no" class="form-control" value="{{ product.product_no|escape }}" required>
                        </div>
                        <div class="form-group">
                            <label for="title">Title: </label>
                            <input type="text" id="title" name="title" class="form-control" value="{{ product.title|escape }}" required>
                        </div>
                        <div class="form-group">
                            <label for="description">Description: </label>
                            <textarea type="text" id="description" name="description" class="form-control" rows="10" required>{{ product.description|escape }}</textarea>
                        </div>
                        <div class="form-group">
                            <label for="price">Price: </label>
                            <input type="text" id="price" name="price" class="form-control" value="{{ product.price }}" required>
                        </div>
                        <div class="form-group">
                            <label for="producer">Producer: </label>
                            <input type="text" id="producer" name="producer" class="form-control" value="{{ product.producer|escape }}" required>
                        </div>
                        <div class="form-group">
                            <label for="size">Size: </label>
                            <input type="text" id="size" name="size" class="form-control" value="{{ product.size }}" required>
                        </div>
                        <div class="form-group">
                            <label for="weight">Weight: </label>
                            <input type="text" id="weight" name="weight" class="form-control" value="{{ product.weight }}" required>
                        </div>
                        <div class="form-group">
                                <label for="image">Image: </label>
                                <input type="file" id="image" name="image" class="form-control" accept="image/jpeg, image/png">
                        </div>
                        <div class="form-group">
                            <label>Da li je proizvod aktivan? </label>
                            <select name="is_active" id="isActive" class="form-control" required>
                                <option value="" disabled>Izaberite da li je proizvod aktivan ili ne</option>
                                <option value="1" {% if product.is_active == 1 %}selected{% endif %}>Aktivan</option>
                                <option value="0" {% if product.is_active == 0 %}selected{% endif %}>Nije aktivan</option>
                            </select>
                        </div>
                </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-primary btn-block">Edit product</button>
            </div>

            <div class="alert alert-warning d-none" id="error-message"></div>

        </form>

        <script>    
            function validateForm(){
                let status = true;

                document.querySelector('#error-message').classList.add('d-none');
                document.querySelector('#error-message').innerHTML = '';

                const productNo = document.querySelector('#productNo').value;             //productNo
                if(!productNo.match(/^([0-9]{1,11})$/)){
                    document.querySelector('#error-message').innerHTML += 'ProductNo mora da ima minimalnu duzinu 1 a maksimalnu 11 karaktera! Takodje, moze da ukljucuje samo brojeve!<br>';
                    document.querySelector('#error-message').classList.remove('d-none');
                    status = false;
                }

                const title = document.querySelector('#title').value;                    //title
                if(!title.match(/^([A-Za-z0-9 \(\)-.,:\/\\]{1,255})$/)){
                    document.querySelector('#error-message').innerHTML += 'Title mora da ima minimalnu duzinu 1 a maksimalnu 255 karaktera! Takodje, moze da ukljucuje mala i velika slova, brojeve i -,-:!<br>';
                    document.querySelector('#error-message').classList.remove('d-none');
                    status = false;
                }

                const description = document.querySelector('#description').value;        //description
                if(!description.match(/^([A-Za-z0-9 \(\)-\/\\]+)$/)){
                    document.querySelector('#error-message').innerHTML += 'Description mora da ima samo velika i mala slova, brojeve i neke simbole!<br>';
                    document.querySelector('#error-message').classList.remove('d-none');
                    status = false;
                }

                const price = document.querySelector('#price').value;                    //price
                if(!price.match(/^[0-9]{1,10}(\.[0-9]{0,2})?$/)){
                    document.querySelector('#error-message').innerHTML += 'Price mora da ima samo izmedju 1-10 brojeva pre zareza i samo dva decimalna mesta!<br>';
                    document.querySelector('#error-message').classList.remove('d-none');
                    status = false;
                }

                const producer = document.querySelector('#producer').value;              //producer
                if(!producer.match(/^([A-Za-z0-9 \(\)-.,:\/\\]{1,255})$/)){
                    document.querySelector('#error-message').innerHTML += 'Producer mora da ima minimalnu duzinu 1 a maksimalnu 255 karaktera! Takodje, moze da ukljucuje mala i velika slova, brojeve i -,-:!<br>';
                    document.querySelector('#error-message').classList.remove('d-none');
                    status = false;
                }

                const size = document.querySelector('#size').value;                     //size
                if(!size.match(/^[0-9]{1,65}(\.[0-9]{0,2})?$/)){
                    document.querySelector('#error-message').innerHTML += 'Size mora da ima samo izmedju 1-65 brojeva pre zareza i samo dva decimalna mesta!<br>';
                    document.querySelector('#error-message').classList.remove('d-none');
                    status = false;
                }

                const weight = document.querySelector('#weight').value;                 //weight
                if(!weight.match(/^[0-9]{1,65}(\.[0-9]{0,2})?$/)){
                    document.querySelector('#error-message').innerHTML += 'Weight mora da ima samo izmedju 1-65 brojeva pre zareza i samo dva decimalna mesta!<br>';
                    document.querySelector('#error-message').classList.remove('d-none');
                    status = false;
                }



                return status;
            }
        </script>
    </div>
</div>
{% endblock %}