{% extends "_global/index.html" %}

{% block main %}

<div>
    <div class="btn-group" role="group" aria-label="Edit and Add">
        <a href="{{ BASE }}admin/products/add" class="btn btn-outline-primary">Add new product</a>
     </div>

     <div class="col-12 col-sm-10 offset-sm-1 col-md-6 offset-md-3 col-lg-6 offset-md-3 col-xl-6 offset-xl-3">
            <ul class="list-group">
            {% for product in products %}
            <li class="list-group-item">    
                <a href="{{ BASE }}admin/products/edit/{{ product.product_id }}">
                    {{ product.title|escape }}
                </a>
            {% endfor %}
        </ul>
     </div>
</div>
{% endblock %}