{% extends "_global/index.html" %}


{% block main %}
<p>{{ podatak }}</p>
<div class="categories">
    <div class="row">
        <h1 style="text-align: center; font-weight: bold;">Spisak svih kategorija se nalazi ispod:</h1>
        <div class="col-12 col-sm-10 offset-sm-1 col-md-6 offset-md-3 col-lg-6 offset-md-3 col-xl-6 offset-xl-3">
            
            <ul class="list-group text-left">
            {% for category in categories %}
                    <li class="list-group-item proizvod"><a href="{{ BASE }}category/{{ category.category_id }}">
                        <img src="{{ BASE }}assets/uploads/{{ category.image_path }}" alt="Velika slika - {{ category.category }}" class="width-50-percent">
                        <i class="fa fa-list"></i> {{ category.title|escape }}
                    </a>
            {% endfor %}
                </ul>

            {% if role == 'admin' %}
                <div class="btn-group" role="group" aria-label="Edit and Add">
                    <a href ="{{ BASE }}admin/categories" class="btn btn-outline-primary">Edit all categories</a>
                    <a href ="{{ BASE }}admin/categories/add" class="btn btn-outline-primary">Add new categories</a>
                </div>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}