{% extends "_global/index.html" %}

{% block main %}

<div>
     <div class="options">
        <a href="{{ BASE }}admin/catalogues/add">Add new catalogue</a>
     </div>

    <div class="col-12 col-sm-10 offset-sm-1 col-md-6 offset-md-3 col-lg-6 offset-md-3 col-xl-6 offset-xl-3">
        <ul class="list-group">
            {% for catalogue in catalogues %}
            <li class="list-group-item">    
                <a href="{{ BASE }}admin/catalogues/edit/{{ catalogue.catalogue_id }}">
                    {{ catalogue.title|escape }}
                </a>
            {% endfor %}
        </ul>
     </div>
</div>
{% endblock %}