{% extends "_global/index.html" %}

{% block main %}

<div>
    <div class="btn-group" role="group" aria-label="Edit and Add">
        <a href="{{ BASE }}admin/catalogues" class="btn btn-outline-primary">List all catalogues</a>
        <a href="{{ BASE }}admin/catalogues/add" class="btn btn-outline-primary">Add new catalogue</a>
     </div>
     <div class="col-12 col-sm-10 offset-sm-1 col-md-6 offset-md-3 col-lg-6 offset-md-3 col-xl-6 offset-xl-3">
        <form class="catalogue-form" method="POST">
                <div class="card">
                        <div class="card-header">
                        Edit Catalogue
                        </div>
                    <div class="card-body">
                        <div class="form-group">
                            <label for="title">Title: </label>
                                <input type="text" id="title" name="title" class="form-control" value="{{ catalogue.title|escape }}" pattern="^([A-Za-z0-9 ()-\/\\]{1,255})$" required>
                            </div>

                            <div class="form-group">
                                <label for="description">Description: </label>
                                <textarea id="description" name="description" class="form-control" rows="10" pattern="^([A-Za-z0-9 \(\)-\/\\]+)$" required>{{ catalogue.description|escape }}</textarea>
                            </div>
                    </div>
                </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-primary btn-block">Edit catalogue</button>
            </div>
        </form>
     </div>
</div>
{% endblock %}