{% extends "_global/index.html" %}

{% block main %}

<div>
     <div class="options">
        <a href="{{ BASE }}user/products">List all products</a>
        <a href="{{ BASE }}user/products/add">Add new product</a>
     </div>

     <form class="product-form" method="POST">
         <div>
            <label for="productNo">Product No.: </label>
            <input type="text" id="productNo" name="productNo" value="{{ product.product_no|escape }}" pattern="([0-9]+)$"><br>
            <label for="title">Title: </label>
            <input type="text" id="title" name="title" value="{{ product.title|escape }}" pattern="([A-Za-z0-9]+)$"><br>
            <label for="description">Description: </label>
            <input type="text" id="description" name="description" value="{{ product.description|escape }}" pattern="([A-Za-z0-9]+)$"><br>
            <label for="price">Price: </label>
            <input type="text" id="price" name="price" value="{{ product.price }}" pattern="^[0-9]+(\.[0-9]+)?$"><br>
            <label for="producer">Producer: </label>
            <input type="text" id="producer" name="producer" value="{{ product.producer|escape }}" pattern="([A-Za-z0-9]+)$"><br>
            <label for="size">Size: </label>
            <input type="text" id="size" name="size" value="{{ product.size }}" pattern="^[0-9]+(\.[0-9]+)?$"><br>
            <label for="weight">Weight: </label>
            <input type="text" id="weight" name="weight" value="{{ product.weight }}" pattern="^[0-9]+(\.[0-9]+)?$"><br>
        </div>

        <div>
            <button type="submit">Edit product</button>
        </div>
     </form>
</div>
{% endblock %}