{% extends "_global/index.html" %}

{% block main %}

<div>
     <div class="options">
        <a href="{{ BASE }}user/products">List all products</a>
     </div>

    <p>{{ message|escape }}</p>
    
</div>
{% endblock %}