{% extends "_global/index.html" %}

{% block main %}

<div>
     <div class="options">
        <a href="{{ BASE }}user/products/add">Add new product</a>
     </div>

     <div class="products">
        <ul>
            {% for product in products %}
            <li>    
                <a href="{{ BASE }}user/products/edit/{{ product.product_id }}">
                    {{ product.title|escape }}
                </a>
            {% endfor %}
        </ul>
     </div>
</div>
{% endblock %}