{% extends "_global/index.html" %}


{% block main %}
{% spaceless %} 
    <div class="row">
        {% for product in products %}
        <div class="col-12 col-sm-10 offset-sm-1 col-md-6 offset-md-3 col-lg-6 offset-md-3 col-xl-6 offset-xl-3">
            <div class="card">
                <div class="card-header text-center">
                    <p>{{ product.title|escape|title }}</p>
                </div>
                <img class="card-img-top" src="{{ BASE }}assets/uploads/{{ product.image_path }}" alt="Card image cap">
                <div class="card-body text-center">  
                    <p class="form-group">{{ product.description|escape }}</p>
                    <p class="form-group">Cena je: <b>{{ product.price }} din. </b></p>
                    <p class="form-group">Proizvođač je: <b>{{ product.producer }}</b></p>
                    <p class="form-group">Veličina je: {{ product.size }} cm</p>
                    <p cclass="form-group">Težina je: {{ product.weight }} kg</p>
                </div>
                <div class="card-footer">
                        <a href="#" onclick="addBookmark({{ product.product_id }});" class="btn btn-primary btn-block"><i class="fa fa-bookmark"></i> Add to bookmark</a>
                        <a href="#" onclick="clearBookmarks();" class="btn btn-outline-primary btn-block"><i class="fa fa-bookmark-o"></i> Clear bookmarks</a>

                    {% if role == 'user' or role == 'admin'%} 
                    <a href="{{ BASE }}product-cart/" class="btn btn-primary btn-block"><i class="fa fa-cart-plus"></i> Add to cart</a>
                            <a href="{{ BASE }}product-cart/" class="btn btn-outline-primary btn-block"><i class="fa fa-cart-arrow-down"></i> Clear cart</a>          
                    {% endif %}
                </div>
            </div>
         </div>
         {% endfor %}
    </div>


{% endspaceless %}
{% endblock %}

{% block naslov %}
    {{ product.title|escape|title }}
{% endblock %}