{% extends "_global/index.html" %}


{% block main %}
{% spaceless %}   

    <ul>
        {% for product in products %}
            <li class="product row">
                <div class="col-12 col-md-2">
                    <a href="{{ BASE }}product/{{ product.product_id }}" class="product-big-image"> 
                        <img src="{{ BASE }}assets/uploads/{{ product.image_path }}" alt="Velika slika - {{ product.product_id }}" class="width-100-percent">
                    </a>

                    <!--<img src="{{ BASE }}assets/{{ product.images[1].path }}" alt="Mala slika 1 - {{ product.product_id }}" class="product-small-image image-1" style="width:80px">
                    <img src="{{ BASE }}assets/{{ product.images[2].path }}" alt="Mala slika 2 - {{ product.product_id }}" class="product-small-image image-2" style="width:80px">-->
                </div>

                <div class="col-12 col-md-10">
                        <a href="{{ BASE }}product/{{ product.product_id }}">                    
                            {{ product.title|escape }}
                        </a>
                    <div class="row">
                        <span class="col-6 csl-md-4">Veličina: <b>{{ product.size|escape }}</b></span>
                        <span class="col-6 csl-md-4">Težina: <b>{{ product.weight|escape }}</b></span>
                        <span class="col-12 csl-md-4">Cena: <b>{{ product.price|escape }}</b></span>
                    </div>
                </div>
        {% endfor %}
    </ul>
    
    {% if role == 'admin' %}
        <div class="btn-group" role="group" aria-label="Edit and Add">
            <a href ="{{ BASE }}admin/products/" class="btn btn-outline-primary">Edit all products</a>
            <a href ="{{ BASE }}admin/products/add" class="btn btn-outline-primary">Add new product</a>
            </div>
    {% endif %}

{% endspaceless %}
{% endblock %}

{% block naslov %}
Rezultati pretrage
{% endblock %}