{% extends "_global/index.html" %}


{% block main %}
<div class="row">
    <form action="{{ BASE }}user/login" method="POST" class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-md-3 col-xl-6 offset-xl-3">
        <div class="card">
                <div class="card-header">
                    User Login
                </div>
            <div class="card-body">
                <div class="form-group">
                    <label for="input_username">Username</label>
                    <input type="text" id="input_username" name="login_username" class="form-control" required placeholder="Unesite korisničko ime." pattern="^[a-zA-Z0-9]+([_ -]?[a-zA-Z0-9])*$" >
                </div>

                <div class="form-group">
                    <label for="input_password">Password</label>
                    <input type="password" id="input_password" name="login_password" class="form-control" pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$" required placeholder="Unesite lozinku.">
                </div>
            </div>   
                <div class="card-footer">
                    <button type="submit" class="btn btn-primary btn-block">Login</button><br>
                </div>

                <div>
                    <p class="text-center">Ukoliko nemaš nalog, pritisni <b><a href="{{ BASE }}user/register">OVDE</a></b> da bi otvorio formu za registraciju.</p>
                </div>
        </div>
    </form>
</div>
{% endblock %}