{% extends "_global/index.html" %}

{% block main %}

<meta http-equiv="refresh" content="2;url=http://localhost/turbotech/">

<div>
     <h2 style="text-align: center; font-weight: bold;">Uspešno ste se izlogovali sa sajta!</h2>
     <h2 style="text-align: center; font-weight: bold;">Za 3 sekunde ćete biti redirektovani na početnu stranicu...!</h2>    
</div>

{% endblock %}