{% extends "_global/index.html" %}


{% block main %}
<div class="row">
    <form action="{{ BASE }}user/register" method="POST" class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-md-3 col-xl-6 offset-xl-3">
        <div class="card">
            <div class="card-header">
                User Registration
            </div>
            <div class="card-body">
                <div class="form-group">
                    <label for="input_email">Email</label>
                    <input type="email" id="input_email" name="reg_email" required class="form-control" placeholder="Unesite svoju email adresu u ovo polje" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$">
                </div>

                <div class="form-group">
                    <label for="input_forename">Forename</label>
                    <input type="text" id="input_forename" name="reg_forename" required class="form-control" placeholder="Unesite svoje ime u ovo polje" pattern="^([A-Za-z ]{1,64})$">
                </div>

                <div class="form-group">
                    <label for="input_surname">Surname</label>
                    <input type="text" id="input_surname" name="reg_surname" required class="form-control" placeholder="Unesite svoje prezime u ovo polje" pattern="^([A-Za-z ]{1,64})$">
                </div>

                <div class="form-group">
                    <label for="input_username">Username</label>
                    <input type="text" id="input_username" name="reg_username" required class="form-control" placeholder="Unesite zeljeno korisničko ime u ovo polje" pattern="^([A-Za-z0-9_.]{1,64})$">
                </div>

                <div class="form-group">
                    <label for="input_password_1">Password</label>
                    <input type="password" id="input_password_1" name="reg_password_1" pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$" required class="form-control" placeholder="Unesite željenu lozinku u ovo polje"> 
                </div>

                <div class="form-group">
                    <label for="input_password_2">Repeat your password</label>
                    <input type="password" id="input_password_2" name="reg_password_2" pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$" required class="form-control" placeholder="Unesite željenu lozinku još jednom"> 
                </div>

                <div class="form-group">
                    <label for="input_phone">Phone</label>
                    <input type="text" id="input_phone" name="reg_phone" placeholder="U formatu: +381 63 123 456" pattern="^\+[0-9]{1,3} ?([0-9]{2,})( [0-9]{2,}){1,24}}$" required class="form-control">
                </div>
                
                <div class="form-group">
                    <label for="input_address">Address</label>
                    <input type="text" id="input_address" name="reg_address" placeholder="U formatu: Adresa 55" pattern="^([A-Za-z]+ [0-9]+)$" required class="form-control">
                </div>
            </div>

        <div class="card-footer">
            <button type="submit" class="btn btn-primary btn-block">Register</button>
        </div>
    </div>
    </form>
</div>

{% endblock %}