{% extends "_global/index.html" %}


{% block main %}
<p>{{ podatak }}</p>
<div class="row">
        <!---<h1 style="text-align: center; font-weight: bold;">Dobrodošli na sajt TurboTech-a!</h1>-->
    {% for category in categories %}
    <div class="card col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 text-center category">
            <div class="card-body">
                <a href="{{ BASE }}category/{{ category.category_id }}"
                         class="card-title" >
                        {{ category.title|escape }}
                </a>
        </div> 
    </div>
    {% endfor %}
</div>
<div class="row">
<div class="col-lg-12">

        <div class="card">
                <div class="card-header">
                    Korpa
                </div>
                <div class="card-body">
                    <div class="cart">Učitavanje korpe...</div>
                </div>
                <div class="card-footer" id="cart-btn">
                    <a href="{{ BASE }}product-cart/" class="btn btn-success btn-block" id="checkout">Zavrsi kupovinu</a>
                    <button type="button" onclick="clearCart();" class="btn btn-warning btn-block" id="clear">Isprazni korpu</button>
                </div>
            </div>

    <form method="POST" action="{{BASE}}filter">
            <div class="card" id="card">
                <div class="card-body">
                    <div class="row">
                        <div class="form-group col-lg-6">
                            <label for="categoryId">Kategorija: </label>
                            <select name="category_id" id="categoryId" class="form-control" required>
                                <option value="" disabled selected>Izaberite kategoriju</option>
                                {% for category in categories %}
                                    <option value="{{ category.category_id }}">{{category.title}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    <div class="form-group col-lg-6">
                            <label for="producer">Proizvodjac: </label>
                            <select name="producer" id="producer" class="form-control" required>
                                <option value="" disabled selected>Izaberite proizvodjaca:</option>
                                {% for product in products %}
                                    <option value="{{ product.producer }}">{{product.producer}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-6">
                            <label for="price">Cena od: </label>
                            <input type="number" id="price" name="price" class="form-control" placeholder="Od" required>
                        </div>
                        <div class="form-group col-lg-6">
                            <label for="price_to">Cena do: </label>
                            <input type="number" id="price_to" name="price_to" class="form-control" placeholder="Do" required>
                        </div>
                    </div>
                </div>
                <div class="card-footer col-lg-12">
                    <button class="btn btn-primary btn-block" type="submit">Pretrazi</button>
                </div>
            </div>
        </form>
    </div>
</div>
    {% if role == 'admin' %}
    <div class="col-12 col-sm-12 col-md-5 col-lg-6 col-xl-6">
        <div class="btn-group" role="group" aria-label="Edit and Add">
            <a href ="{{ BASE }}admin/categories" class="btn btn-outline-primary" data-toggle="tooltip" title="Edit a category"><i class="fa fa-pencil"></i> Edit</a>
            <a href ="{{ BASE }}admin/categories/add" class="btn btn-outline-primary" data-toggle="tooltip" title="Add a category"><i class="fa fa-plus"></i> Add</a>
        </div>
    </div>
    {% endif %}


{% endblock %}