{% extends "_global/index.html" %}


{% block main %}
<p>{{ podatak }}</p>
<div>
    <p>{{ message }}</p>

    <p>Klikni <a href="{{ BASE }}user/login">ovde</a> da se vratiš nazad.</p>
</div>

{% endblock %}