{% extends "_global/index.html" %}


{% block main %}
<p>{{ podatak }}</p>
<div>
    <p>{{ message }}</p>

    <p>Klikni <a href="{{ BASE }}user/register">ovde</a> da se vratis nazad.</p>
</div>

{% endblock %}