.social-icons {
    margin-bottom: 10px;
    margin-top: 10px;
}

.social-icons > img {
    height: 20px;
    width: 20px;
    margin: 5px 10px;

}

.banner {
    margin-top: 4%;
    width: 80%;
    height: 70%;
}

.social-icons a i.fa {
    font-size: 20pt;
    display: inline-block;
    margin: 6px;

}

.search-box { 
    text-align: right;
}

.category{
    padding: 50px 0px;
}

.category:hover{
    background-color: #ccc;
    text-decoration: none;
    list-style: none;
}

.card{
    margin-top: 2%;
}

.btn-group{
    margin-top: 2%;
}

.invoice:hover{
    background-color: #ccc;
    text-decoration: none;
    list-style: none;
}

.katalog:hover{
    background-color: #ccc;
    text-decoration: none;
    list-style: none;
    border: 2px solid grey;
    border-radius: 20px;
}

.proizvod:hover{
    background-color: #ccc;
    text-decoration: none;
    list-style: none;
    border: 2px solid grey;
    border-radius: 20px;
}

.card-header > p {
    font-weight: bold;
    font-size: 22px;

}
/*.footer {
    background-color: #ccc;
    text-align: center;
}
.footer-title{
    margin-top: 16px;
}

.bookmark-card {
    margin-top: 10px;
}*/

.logo {
    margin-top: 10px;
}

.width-100-percent{
    width: 100%;
}

.width-50-percent {
    width: 50%;
    height: 50%;
}

.product {
    margin-bottom: 15px;
    margin-top: 15px;
}
.menu{
    margin-bottom: 10px;
}

.footer {
    background-color: #ccc;
    text-align: center;
}

.footer-title{
    margin-top: 16px;
}

/*@media only screen and (min-width:1024px){
    .carts {
        display: block;
        position: fixed;
        top: 200px;
        right: 0px;
    }

    #card {
        margin-bottom: 100px;
    }

    .btn-group {
        margin-bottom: 100px;
    }
    
    .list-group {
        margin-bottom: 100px;
    }
    
}
@media only screen and (max-width: 600px) {
    #card {
        margin-bottom: 90px;
    }
    .btn-group {
        margin-bottom: 100px;
    }

    .list-group {
        margin-bottom: 100px;
    }
}
@media screen and (max-width: 992px) {
    #card {
        margin-bottom: 90px;
    }
    .btn-group {
        margin-bottom: 100px;
    }

    .list-group {
        margin-bottom: 100px;
    }

  }*/

