{% extends "_global/index.html" %}


{% block main %}

{% spaceless %} 

    <div class="row">
        {% for product in products %}
        <div class="card col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 text-center">
                <div class="card-body">
                    <a href="{{ BASE }}product/{{ product.product_id }}" class="card-title">{{ product.title }}</a>
                    <p class="card-text">Cena je: <b>{{ product.price }} din. </b></p>
                    <p class="card-text">Proizvođač je: <b>{{ product.producer }}</b></p>
                </div>
        </div>
        {% endfor %}
    </div>

{% endspaceless %}

{% endblock %}