{% extends "_global/index.html" %}


{% block main %}

{% spaceless %} 

    <h1>Prikaz svih narudžbina je prikazan ispod:</h1>
    <p>Kliknuti na fakturu ukoliko želite da vidite šta se nalazi na njoj.</p>
    <div class="row">
        {% for offer in offers %}
        <div class="card col-12 col-sm-6 col-md-6 col-lg-6 col-xl-4 text-center invoice">
            <div class="card-body">
                    <h1><a href="{{ BASE }}offer-invoices/{{ offer.offer_id }}" class="card-title text">Porudžbina broj: {{ offer.offer_id }}</a></h1>
                    <p class="card-text">Username korisnika je: <b>{{ offer.user.username }}</b> <br></p>
            </div>
        </div>
        {% endfor %}          
    </div>
        {% if role == 'admin' %}
        <div class="btn-group" role="group" aria-label="Edit and Add">
             <a href ="{{ BASE }}admin/offers/" class="btn btn-outline-primary">Edit all offers</a>
             <a href ="{{ BASE }}admin/offers/add" class="btn btn-outline-primary">Add new offer</a>
        </div>
        {% endif %}

{% endspaceless %}

{% endblock %}