{% extends "_global/index.html" %}

{% block main %}

<div>
     <div class="options">
        <a href="{{ BASE }}user/categories">list all categories</a>
     </div>

     <form class="category-form" method="POST">
         <div>
            <label for="title">Title: </label>
            <input type="text" id="title" name="title"  pattern="([A-Za-z0-9]+)$">
            <label for="image_path">Image path: </label>
            <input type="text" id="image_path" name="image_path" pattern="([A-Za-z0-9]+)$">
            <label for="catalogue_id">Catalogue ID: </label>
            <input type="text" id="catalogue_id" name="catalogue_id"  pattern="([0-9]+)$">  
        </div>

        <div>
            <button type="submit">Add category</button>
        </div>
     </form>
</div>
{% endblock %}