{% extends "_global/index.html" %}

{% block main %}

<div>
     <div class="options">
        <a href="{{ BASE }}user/categories">List all categories</a>
        <a href="{{ BASE }}user/categories/add">Add new category</a>
     </div>

     <form class="category-form" method="POST">
         <div>
            <label for="title">Title: </label>
            <input type="text" id="title" name="title" value="{{ category.title|escape }}" pattern="([A-Za-z0-9]+)$">
            <label for="image_path">Image path: </label>
            <input type="text" id="image_path" name="image_path" value="{{ category.image_path|escape }}" pattern="">
            <label for="catalogue_id">Catalogue ID: </label>
            <input type="text" id="catalogue_id" name="catalogue_id" value="{{ category.catalogue_id }}" pattern="([0-9]+)$">
        </div>

        <div>
            <button type="submit">Edit category</button>
        </div>
     </form>
</div>
{% endblock %}