{% extends "_global/index.html" %}

{% block main %}

<div>
    <div class="btn-group" role="group" aria-label="Edit and Add">
        <a href="{{ BASE }}admin/categories/add" class="btn btn-outline-primary">Add new category</a>
     </div>

     <div class="col-12 col-sm-10 offset-sm-1 col-md-6 offset-md-3 col-lg-6 offset-md-3 col-xl-6 offset-xl-3">
        <ul class="list-group text-center">
             {% for category in categories %}
            <li class="list-group-item">    
                <a href="{{ BASE }}admin/categories/edit/{{ category.category_id }}">
                    {{ category.title|escape }}
                </a>
            {% endfor %}
        </ul>
     </div>
</div>
{% endblock %}