{% extends "_global/index.html" %}

{% block main %}

<div>
    <div class="btn-group" role="group" aria-label="Edit and Add">
        <a href="{{ BASE }}admin/categories" class="btn btn-outline-primary">List all categories</a>
     </div>
     <div class="col-12 col-sm-10 offset-sm-1 col-md-6 offset-md-3 col-lg-6 offset-md-3 col-xl-6 offset-xl-3">
        <form class="category-form" method="POST">
            <div class="card">
                    <div class="card-header">
                    Add Category
                    </div>
                <div class="card-body">
                    <div class="form-group">
                        <label>Title: </label>
                        <input type="text" id="title" name="title" class="form-control" pattern="^([A-Za-z0-9 \(\)-\/\\]{1,255})$" required>
                    </div>
                    <div class="form-group">
                        <label>Image path: </label>
                        <input type="text" id="image_path" name="image_path" class="form-control" required>    <!--NAPRAVITI PATTERN-->
                    </div>
                    <div class="form-group">                   
                <label>Izaberite katalog: </label>
                        <select name="catalogue_id" id="catalogueId" class="form-control" required>
                            <option value="" disabled selected>Izaberite željeni katalog</option>
                                {% for catalogue in catalogues %}
                                    <option value="{{ catalogue.catalogue_id }}">{{catalogue.title}}</option>
                                {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Da li je kategorija aktivna? </label>
                        <select name="is_active" id="isActive" class="form-control" required>
                            <option value="" disabled selected>Izaberite da li je kategorija aktivna ili ne</option>
                            <option value="1">Aktivna</option>
                            <option value="0">Nije aktivna</option>
                        </select>
                    </div>
                </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-primary btn-block">Add category</button>
            </div>
        </form>
     </div>
</div>
{% endblock %}    