{% extends "_global/index.html" %}

{% block main %}

<div>
     <div class="options">
        <a href="{{ BASE }}admin/categories">List all categories</a>
     </div>

    <p>{{ message|escape }}</p>
    
</div>
{% endblock %}