<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Turbotech - {%  block naslov %}Pocetna{% endblock %}</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{{ BASE }}assets/libs/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ BASE }}assets/libs/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="/turbotech/assets/css/main.css">
        <link rel="icon" href="{{ BASE }}assets/img/icon/icon.png">
    </head>
    <body>
        <div class="container">
            <header class="site-header">
                <div class="row menu">
                    <div class="col-12 col-sm-12 col-md-5 col-lg-6 col-xl-6">
                        <img class="banner" src="{{ BASE }}assets/img/homepage/logo.png" alt="Banner 1">
                    </div>
                        
                        <div class="col-12 col-sm-12 col-md-7 col-lg-6 col-xl-6">
                            <div class="social-icons  text-right">
                                <a href=""><i class="fa fa-facebook-square"></i></a>
                                <a href=""><i class="fa fa-linkedin-square"></i></a>
                                <a href=""><i class="fa fa-twitter-square"></i></a>
                                <a href=""><i class="fa fa-youtube-square"></i></a>
                            </div>
                        
                        <div class="search-box">
                                <form method="post" action="{{ BASE }}product-search/">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <input type="text" placeholder="Ključne reči pretrage" name="q" class="form-control" required pattern="[^\s]{2,}">
                                            <button type="submit" class="btn btn-primary input-group-append">
                                                <i class="fa fa-search"></i>
                                            </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
               
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                            <div class="navbar-nav">
                                {% include '_global/menu.html' %}
                            </div>
                        </div>
                      </nav>
            </header>
            
            <main>
                {% block main %}
                {% endblock %}
            </main>
            
            <div class="bookmark-card">
                <div class="bookmarks">Please wait, loading bookmarks...</div>
            </div>

        </div>
        <script>const BASE = '{{BASE}}';</script>
        <script src="{{ BASE }}assets/libs/jquery/dist/jquery.min.js"></script>
        <script src="{{ BASE }}assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="{{ BASE }}assets/js/bookmark.js"></script>
    </body>
</html>
