<li><a class="nav-item nav-link" href="{{ BASE }}"><i class="fa fa-home"></i> Početna</a>
<li><a class="nav-item nav-link" href="{{ BASE }}categories-view"><i class="fa fa-list"></i> Kategorije</a>
<li><a class="nav-item nav-link" href="{{ BASE }}admin/users"><i class="fa fa-user"></i> Korisnici</a>
<li><a class="nav-item nav-link" href="{{ BASE }}catalogue-show/"><i class="fa fa-book"></i> Katalozi</a>
<li><a class="nav-item nav-link" href="{{ BASE }}offer-show/"><i class="fa fa-file-text"></i> Narudžbine</a> 
<li><a class="nav-item nav-link" href="{{ BASE }}user/logout/"><i class="fa fa-sign-out"></i> Odjavi se</a>
