<li><a class="nav-item nav-link" href="{{ BASE }}"><i class="fa fa-home"></i> Početna</a>
<li><a class="nav-item nav-link" href="{{ BASE }}categories-view"><i class="fa fa-list"></i> Kategorije</a>
<li><a class="nav-item nav-link" href="{{ BASE }}catalogue-show/"><i class="fa fa-book"></i> Katalozi</a>
<li><a class="nav-item nav-link" href="{{ BASE }}user/logout/"><i class="fa fa-sign-out"> Odjavi se</i></a>
        