<li><a class="nav-item nav-link" href="{{ BASE }}"><i class="fa fa-home"></i> Početna</a>
<li><a class="nav-item nav-link" href="{{ BASE }}categories-view"><i class="fa fa-list"></i> Kategorije</a>
<li><a class="nav-item nav-link" href="{{ BASE }}user/login/"><i class="fa fa-sign-in"></i> Prijavi se</a>
