{% extends "_global/index.html" %}

{% block main %}

<div>
     <div class="btn-group" role="group" aria-label="Edit and Add">
        <a href="{{ BASE }}admin/users" class="btn btn-outline-primary">List all users</a>
        <a href="{{ BASE }}admin/users/add" class="btn btn-outline-primary">Add new user</a>
     </div>

     <div class="col-12 col-sm-10 offset-sm-1 col-md-6 offset-md-3 col-lg-6 offset-md-3 col-xl-6 offset-xl-3">
            <form class="user-form" method="POST">
                    <div class="card">
                            <div class="card-header">
                            Edit User
                            </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="username">Username: </label>
                                <input type="text" id="username" name="username" class="form-control" value="{{ user.username|escape }}" pattern="^([A-Za-z0-9_.]{1,64})$">
                            </div>
                            <div class="form-group">
                                <label for="email">Email: </label>
                                <input type="text" id="email" name="email" class="form-control" value="{{ user.email|escape }}" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" >
                            </div>
                            <div class="form-group">
                                <label for="password_hash">Password: </label>
                                <input type="text" id="password_hash" name="password_hash" class="form-control" placeholder="Uneti password ovde" pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$">
                            </div>
                            <div class="form-group">
                                <label for="forename">Forename: </label>
                                <input type="text" id="forename" name="forename" class="form-control" value="{{ user.forename|escape }}" pattern="^([A-Za-z ]{1,64})$">
                            </div>
                            <div class="form-group">
                                <label for="surname">Surname: </label>
                                <input type="text" id="surname" name="surname" class="form-control" value="{{ user.surname|escape }}" pattern="^([A-Za-z ]{1,64})$">
                            </div>
                            <div class="form-group">
                                <label for="address">Address: </label>
                                <input type="text" id="address" name="address" class="form-control" value="{{ user.address|escape }}" placeholder="U formatu: Adresa 55" pattern="^([A-Za-z]+ [0-9]+)$">
                            </div>
                            <div class="form-group">
                                <label for="phone">Phone: </label>
                                <input type="text" id="phone" name="phone" class="form-control" value="{{ user.phone|escape }}" placeholder="U formatu: +381 63 123 456" pattern="^\+[0-9]{1,3} ?([0-9]{2,})( [0-9]{2,}){1,24}}$">
                            </div>
                            <div class="form-group">
                                <label>Da li je korisnik aktivan? </label>
                                <select name="is_active" id="isActive" class="form-control" required>
                                    <option value="" disabled>Izaberite da li je korisnik aktivan ili ne</option>
                                    <option value="1" {% if user.is_active == 1 %}selected{% endif %}>Aktivan</option>
                                    <option value="0" {% if user.is_active == 0 %}selected{% endif %}>Nije aktivan</option>
                                </select>
                            </div>
                    </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-primary btn-block">Edit user</button>
                </div>
            </div>
        </form>
     </div>
</div>
{% endblock %}