{% extends "_global/index.html" %}

{% block main %}

<div>
     <div class="btn-group" role="group" aria-label="Edit and Add">
        <a href="{{ BASE }}admin/users" class="btn btn-outline-primary">List all users</a>
    </div>

    <p>{{ message|escape }}</p>
    
</div>
{% endblock %}