{% extends "_global/index.html" %}

{% block main %}

<div>
     <div class="btn-group" role="group" aria-label="Edit and Add">
        <a href="{{ BASE }}admin/users/add" class="btn btn-outline-primary">Add new user</a>
     </div>

     <div class="col-12 col-sm-10 offset-sm-1 col-md-6 offset-md-3 col-lg-6 offset-md-3 col-xl-6 offset-xl-3">
     <ul class="list-group">
            {% for user in users %}
            <li class="list-group-item">    
                <i class="fa fa-user"></i><a href="{{ BASE }}admin/users/edit/{{ user.user_id }}">
                    
                {% if user.is_active == 0 %}
                <i class="fa fa-user-secret"></i><p>Korisnik {{ user.username|escape }} - trenutno nije aktivan!!!</p>
                {% else %}
                    {{ user.username|escape }}  
                {% endif %}
                </a>
            {% endfor %}
        </ul>
     </div>
</div>
{% endblock %}