{% extends "_global/index.html" %}


{% block main %}

{% spaceless %} 

    <h1>Izabrali ste: <b>{{ catalogue.title|escape }}</b> </h1>          
    <p>Opis: {{ catalogue.description|escape }}</p>

    <div class="catalogues">
        {% for product in products %}
        <div class="catalogue">
            <ul class="list-group">
                <li class="list-group-item"><b><a href="{{ BASE }}product/{{ product.product_id }}" class="product-title">{{ product.title }}</a></b></li>
            </ul>
        </div>
        {% endfor %}
    </div>

{% endspaceless %}

{% endblock %}