{% extends "_global/index.html" %}


{% block main %}

{% spaceless %} 

    <h1>Molimo Vas da izaberete željeni katalog:</h1>
    <div class="row">
        {% for catalogue in catalogues %}
        <div class="card col-12 col-sm-6 col-md-6 col-lg-6 col-xl-4 text-center katalog">
            <div class="card-body">
                    <h2><a href="{{ BASE }}catalogue-products/{{ catalogue.catalogue_id }}" class="card-title">{{ catalogue.title }}</a></h2>
                    <p class="card-text">Opis: {{ catalogue.description|escape }}</p><br>
            </div>
        </div> 
        {% endfor %}
    </div>
        {% if role == 'admin' %}
        <div class="btn-group" role="group" aria-label="Edit and Add">
             <a href ="{{ BASE }}admin/catalogues/" class="btn btn-outline-primary">Edit all catalogues</a>
             <a href ="{{ BASE }}admin/catalogues/add" class="btn btn-outline-primary">Add new catalogue</a>
        </div>
        {% endif %}
{% endspaceless %}

{% endblock %}